[Unit]
Description=BlocKuntu PoC backend daemon
Documentation=man:systemd.service(5)
BindsTo=blockuntu-watchdog.service
Wants=blockuntu-watchdog.service
RefuseManualStop=yes
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/blockuntud
Restart=always
RestartSec=0
RuntimeDirectory=blockuntu
RuntimeDirectoryMode=0755
UMask=0000

[Install]
WantedBy=multi-user.target
Also=blockuntu-watchdog.service
